<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: rgb(167, 14, 9);
            text-decoration-color: white;
            font-size:1em;
        }
    </style>
</head>
 
<body>
    <h1>Welcome to the about Page</h1>
    <button>
        <a href="/home">Home</a>
    </button>

</body>
 
</html> 