

<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="http://localhost:8080/static/src/css/global.css" rel="stylesheet">

    <style type="text/css" media="screen">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: white;
            text-decoration-color: white;
            font-size: 1em;
            position: relative;
        }

        .app {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <div class="app flex flex-col sm:flex-row ">
        <div class="left h-screen md:w-full sm:w-full lg:w-5/12 bg-blue-700">
            <div class="earth hidden w-full md:flex sm:flex lg:flex h-96 bg-cover bg-center"
                style="background-image: url('http://localhost:8080/static/src/img/world.png');"></div>
            <div>
                <div class=" px-14 flex justify-between">
                    <h2 class="text-white font-extrabold cursor-pointer text-xl">One way</h2>
                    <h2 class="text-white font-extrabold cursor-pointer text-xl">business class</h2>
                </div>
                <div class=" px-14 py-10 flex justify-between">
                    <div>
                        <h2 class="text-white text-sm">from</h2>
                        <div class="flex gap-2">
                            <h3 class="text-3xl text-white font-bold">MMA</h3>
                            <img src="http://localhost:8080/static/src/img/plane-departure.png" width="42px"
                                height="28px" alt="" srcset="">
                        </div>
                    </div>
                    <div>
                        <h2 class="text-white text-sm">to</h2>
                        <div class="flex gap-2">
                            <h3 class="text-3xl text-white font-bold">GGA</h3>
                            <img src="http://localhost:8080/static/src/img/plane-arrival.png" width="42px" height="28px"
                                alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class=" px-14 py-10 flex justify-between">
                    <div>
                        <h2 class="text-white text-sm">Date</h2>
                        <div class="flex">
                            <h3 class="text-3xl text-white font-bold">Aug 24</h3>
                        </div>
                    </div>
                    <div>
                        <h2 class="text-white text-sm">Passenger</h2>
                        <div class="flex">
                            <h3 class="text-3xl text-white font-bold">1</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="right flex w-full flex-col h-screen p-5 lg:w-7/12 bg-gray-100">
            <h1 class="text-4xl mb-6 font-bold">Best Flights</h1>
            <div class="w-full mb-3 flex">
                <div class="w-full">
                    <input type="text" class="w-full  rounded-l-xl outline-none p-2 border-2 border-blue-400" placeholder="Search">
                </div>
                <div class="w-4/12 sm:w-2/12">
                    <button class="w-full p-2  text-blue-500 rounded-r-xl border-2 border-blue-400">Search</button>
                </div>
            </div>
            <div class="w-full flex justify-between">
                <div class="flex w-full flex-col gap-3">
                    <% for(var i=0; i < data.length; i++) { %>
                        <button onclick="window.location.href='reservation?id=<%= data[i].id %>'"
                            class="w-full hover:border-blue-100 hover:border-2 hoverMe rounded-lg bg-white shadow-xl cursor-pointer flex justify-between p-5">
                            <div class="bg-cover p-6 px-11 bg-center"
                                style="background-image: url('');">
                            </div>
                            <h4 class="">
                                <%= data[i].id %>
                            </h4>
                            <h4 class="">
                                <%= data[i].plane_no %>
                            </h4>
                        </button>
                        <% } %>
                </div>
            </div>
</body>
<!-- <script src="/src/js/cosmos.js"></script> -->

</html>